*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background:black;
}

.main-container{
    background:pink;
    padding:2rem;
    color:black;
    width:80vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:auto;
}

.header{
    font-size:4rem;
    font-weight: 100;
    text-align: center;
    margin-bottom:5vh;
}


.time-remaining-wrapper{
    margin-bottom:5vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.time-remaining{
    width:20px;
    background:black;
    height:20px;
    display: inline-block;
    margin:auto .2rem;
    color:white;
    text-align: center;
    padding-top:1px;
}

.q-and-a-wrapper{
    margin-bottom:4vh;
    display:flex;
    flex-direction: column;
}
.q-and-a-wrapper h3{
    text-align: center;
    margin-bottom:2vh;
    
}

.btn-wrapper{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.true-btn{
    background:lightblue;
    padding:.5rem 3rem;
    text-align: center;
    border:dodgerblue 3px solid;
}

.false-btn{
    background:lightblue;
    padding:.5rem 3rem;
    text-align: center;
    border:dodgerblue 3px solid;
}

.green{
    background:green;
}

.red{
    background:red;
}

.done-link{
    background:lightblue;
    border:dodgerblue 3px solid;
    padding:1vh 7vw;
    text-decoration: none;
    color:black;
    font-weight: 100;
    font-size: 3rem;
    margin-top:2vh;
    font-weight: 100;
}

/* .hide{
    display:none;
}

.appear{
    display:block;
    
} */

body{
    background:black;
}
.main-result-container{
    background:pink;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    width:80vw;
    height:100vh;
}

.result-wrapper{
    display:flex;
    flex-direction: column;
}

.main-result-container h3{
    font-weight: 100;
    font-size: 3rem;
}

.correct-answers{
    background:black;
    color:white;
    height:20px;
    width:20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.incorrect-answers{
    background:black;
    color:white;
    height:20px;
    width:20px;
    display:flex;
    justify-content: center;
    align-items: center;
}
